<form style="width: 400px; margin-left: 450px; margin-top: 100px;" [formGroup]="validateForm">
    <div class="row mb-3">
        <label for="inputName3" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <h1>Update Student</h1>
        </div>
    </div>
    <div class="row mb-3">
        <label for="name" class="col-sm-3 col-form-label">Name:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>
    </div>
    <div class="row mb-3">
        <label for="fatherName" class="col-sm-3 col-form-label">Father Name: </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="fatherName" formControlName="fatherName">
        </div>
    </div>
    <div class="row mb-3">
        <label for="motherName" class="col-sm-3 col-form-label">Mother Name: </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="motherName" formControlName="motherName">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="updateStudent()">Update</button>
</form>